.auth-container {
  max-width: 600px; /* Set a maximum width for the container */
  margin: 10rem auto -5rem; /* Center the container */
  padding: 20px; /* Add padding for spacing */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.auth-container h2 {
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container .input-container {
  position: relative; /* Position relative for the label */
  margin-bottom: 15px; /* Space between input fields */
}

.auth-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease; /* Add transition for border color */
}

.auth-container input::placeholder {
  color:  #aaa; /* Hide placeholder by default */
}

.auth-container input:focus::placeholder,
.auth-container input:not(:placeholder-shown)::placeholder {
  color: transparent; /* Hide placeholder on focus or if input is filled */
}

.auth-container label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #aaa; /* Default label color */
  transition: all 0.3s ease; /* Smooth transition for label */
}

.auth-container input:focus + label,
.auth-container input:not(:placeholder-shown) + label {
  top: -10px; /* Move label above input */
  left: 10px; /* Keep label aligned */
  font-size: 12px; /* Reduce font size */
  color: #801515; /* Change label color on focus */
}

.auth-container button {
  padding: 10px;
  background-color: #801515;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #a02020;
}

.toggle-auth-button {
  display: block; /* Ensure it takes up the full width */
  margin: 1rem 0; /* Add margin for spacing */
  text-align: right; /* Align text to the right */
  float: right; /* Align button to the right */
}

input,label, .submit{
  width: 100%;
  margin: 1rem;
}